*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main_div{
  position: absolute;
  top:0%;
  left: 0%;
    width: 27%;
    height: 100vh;
    background-color: rgb(120, 142, 150);
 padding: 20px;
   cursor: pointer;
   z-index: 10;
  
 

}
.main_div a{
 text-decoration: none;
  list-style: none;
  color:white;
}

.main_div2{
  position: absolute;
  top:0%;
  left: 0%;
    width:50%;
    height: 7vh;
    /* background-color: rgb(120, 142, 150); */
   cursor: pointer;
   z-index: 11;
   padding: 10px 20px;





}








input[type="text"]::-webkit-input-placeholder {
    color: white;
  }







@media screen and (max-width: 1000px) {
    .main_div{
      position: absolute;
      top:0%;
      left: 0%;
        width: 35%;
        height: 100vh;
        background-color: rgb(120, 142, 150);
     padding: 20px;
        cursor: pointer;
        z-index: 10;
    
    }
  }


@media screen and (max-width: 768px) {
    .main_div{
      position: absolute;
      top:0%;
      left: 0%;
        width: 55%;
        height: 100vh;
        background-color: rgb(120, 142, 150);
     padding: 20px;
        cursor: pointer;
        z-index: 10;
    
    }
  }

  @media screen and (max-width: 600px) {
    .main_div{
      position: absolute;
      top:0%;
      left: 0%;
        width: 70%;
        height: 100vh;
        background-color: rgb(120, 142, 150);
     padding: 20px;
        cursor: pointer;
        z-index: 10;
        opacity: 1;
    
    }
  }